<footer class="bg-dark"style="background-color:#412b52!important;">
    <div class="footer-content">
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/naina-parashar-6011161bb/"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/naaaiinaaaaa/"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom text-white">
        <h5 style="color: white;">AERO SITE © <%= new Date().getFullYear() %><h5>
    </div>
</footer>